django-auditlog
django-ses
django-s3-storage==0.14.0
djangorestframework_simplejwt
django-choices
factory-boy
jinja2
pipenv
whitenoise
Werkzeug
django-phonenumber-field[phonenumberslite]
graphene-django
python-dateutil
django-lifecycle
pyyaml

